# Byte-compiled / optimized / DLL files
__pycache__/

# Azure OpenAI key
azure_openai_key.txt

# OpenAi API key
openai_api_key.txt
openai_organization.txt

# PyPi API token
pypi_api_token.txt

# Cost log files
cost-logs/

# PyTest
.pytest_cache
*.egg-info/ 

build/
dist/

# demo internal
demo_internal.ipynb
